# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
ipynbs/面向对象惯用法/source/jupyter.PNG

ipynbs/流程控制/.ipynb_checkpoints/并发模型-checkpoint.ipynb
debug.log
ipynbs/.DS_Store
ipynbs/.DS_Store
.DS_Store
