{% extends "/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Sign In Page{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="page-header">
            <h1>SignIn Page</h1>
        </div>      
        <div class="page-body">
            {{ wtf.quick_form(form,form_type='horizontal') }}
            <p class="pull-right">you do not have a account? please click here <a href="{{ url_for('signup') }}"> to create a account</a></p>
        </div>  
    </div>    
</div>    
{{ super() }}
{% endblock %}