{% extends "/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Sign Up Page{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="page-header">
            <h1>Sign Up Page</h1>
        </div>      
        <div class="page-body">
            {{ wtf.quick_form(form,form_type='horizontal') }}
            <p class="pull-right">you already have a account? please <a href="{{ url_for('signin') }}"}>sign in</a></p>
        </div> 
       
    </div>    
</div>   
{{ super() }}
{% endblock %}